{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-3">
        <h1>Liste des Contacts</h1>
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom de Famille</th>
                    <th scope="col">Date de Naissance</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <th scope="row">{{ contact.id }}</th>
                        <td>{{ contact.firstName }}</td>
                        <td>{{ contact.lastName }}</td>
                        <td>{{ contact.birthDate|date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}